body {
  background: white;
}
@font-face {
  font-family: 'logoFont';
  src: url("fonts/logoFont.ttf");
}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #14374c;;
    border-color: #14374c;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #14374c;
    border-color: #14374c;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #14374c !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

ul {
  display: table;
  text: text-center;
}

li {
  display: table-cell;
  text: text-center;
}

h2 {
  font-family: 'logoFont';
}

h4 {
  font-family: 'logoFont';
}

h5 {
  font-family: 'logoFont';
}

.jumbotron {
  background-color: white;
  font-family: 'logoFont';
  display: none;
  padding-top: 140px;
  opacity: 50%;
}

.bg-primary {
  background-color: #14374c;
}
.back{
  font-weight: bold;
  margin-left: 15%;
  margin-top: 15%;
}
.card {
  display: none;
  border: none;
}

.cardcol {
  height: 100px;
}

.navbar {
  position: fixed;
  height: auto;
  width: 100%;
  background-color: #14374c;
  padding-top: 0;
}
@media (max-width: 767px) {
  .navbar-brand {
    text-align: center;
  }
}
.flipcard{
  cursor: pointer;
}
.nav-link {
  color: lightblue;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

.card-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.team_pic {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
@media screen and (max-width:900px) {
  #meet_the_team .row {
    display: block;
  }

  .team_pic {
    position: relative;
  }

  .card-title {
    position: relative;
  }

  .team-card {
    height: auto;
    width: auto;
  }
}
@media screen and (min-width:900px) {
  .team_pic {
    height: 70%;
  }

  .team-card {
    height: 310px;
    width: auto;
  }
}
@media screen and (min-width:1000px) {
  .team_pic {
    height: 75%;
  }

  .team-card {
    height: 310px;
    width: auto;
  }
}
@media screen and (min-width:1200px) {
  .team_pic {
    height: 80%;
  }

  .team-card {
    height: 390px;
    width: auto;
  }
}
@media screen and (min-width:1400px) {
  .team_pic {
    height: 85%;
  }

  .team-card {
    height: 500px;
    width: auto;
  }
}
@media screen and (min-width:1800px) {
  .team_pic {
    height: 90%;
  }

  .team-card {
    height: 530px;
    width: auto;
  }
}
