body {
  background: white;
}
@font-face {
  font-family: 'logoFont';
  src: url("fonts/logoFont.ttf");
}

ul {
  display: table;
  text: text-center;
}

li {
  display: table-cell;
  text: text-center;
}

h2 {
  font-family: 'logoFont';
}

h4 {
  font-family: 'logoFont';
}

h5 {
  font-family: 'logoFont';
}

.jumbotron {
  background-color: white;
  font-family: 'logoFont';
  display: none;
  padding-top: 140px;
  opacity: 50%;
}

.bg-primary {
  background-color: #14374c;
}
.back{
  font-weight: bold;
}
.card {
  display: none;
  border: none;
}

.cardcol {
  height: 200px;
}

.navbar {
  position: fixed;
  height: auto;
  width: 100%;
  background-color: #14374c;
  padding-top: 0;
}
@media (max-width: 767px) {
  .navbar-brand {
    text-align: center;
  }
}
.flipcard{
  cursor: pointer;
}
.nav-link {
  color: lightblue;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}
// .back{display:none;}

.card-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.team_pic {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
@media screen and (max-width:900px) {
  #meet_the_team .row {
    display: block;
  }

  .team_pic {
    position: relative;
  }

  .card-title {
    position: relative;
  }

  .team-card {
    height: auto;
    width: auto;
  }
}
@media screen and (min-width:900px) {
  .team_pic {
    height: 70%;
  }

  .team-card {
    height: 310px;
    width: auto;
  }
}
@media screen and (min-width:1000px) {
  .team_pic {
    height: 75%;
  }

  .team-card {
    height: 310px;
    width: auto;
  }
}
@media screen and (min-width:1200px) {
  .team_pic {
    height: 80%;
  }

  .team-card {
    height: 390px;
    width: auto;
  }
}
@media screen and (min-width:1400px) {
  .team_pic {
    height: 85%;
  }

  .team-card {
    height: 500px;
    width: auto;
  }
}
@media screen and (min-width:1800px) {
  .team_pic {
    height: 90%;
  }

  .team-card {
    height: 530px;
    width: auto;
  }
}
